input {
    margin-top: 10px;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
    width: 100%;
    border-radius: 3px;
    border-color: lightgray;
}

.list {

}

.list li {
    width: 98.7%;
    padding: 5px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.list li span {
    font-size: 13px;
    display: block;
}

.list li span.name {
    float: left;
}

.list li span.phone {
    float: right;
}

.clearfix {
    clear: both;
}

.listArea {
    margin: 0 auto;
}